.row-header{
  margin:0px auto;
  padding:0px auto;
}
.cuerpo{
  background-color: #cc8c6c;

}
.scroll{
  overflow-y: scroll;
  height:400px;
}
.btn{
  margin:4px;
  margin-top: 10px;
}
.yellow{
  background-color: #dfa740;
  border-bottom:2px ;
}
.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}
.row-cell{
  margin:5px;
}
.footer{
  background-color: #d37a4e;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}
.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background: #b4764f;
  color:floralwhite;
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

.navbar-dark {
  background-color: #d44623;
}

.page-enter {
  opacity: 0.01;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 300ms ease-in;
}

.page-exit {
  opacity: 1;
  transform: translateX(0%);
}

.page-exit-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: all 300ms ease-out;
}